
body {
  font-family: sans-serif;
  background-color: #ffffff;
}

header {
  background-color: #000000;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
}

a {
  color: #ffffff;
  text-decoration: none;
}

#about {
  padding: 20px;
  background-color: #f0f0f0;
}

h1 {
  text-align: center;
}

footer {
  padding: 20px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}